<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><i class="fa fa-calendar-check-o"></i> BetterMe</a>
    </div>

    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#/profile">My Profile <span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="#/calendar">My Calendar</a></li>
        <li><a href="#/regimen">My Regimens</a></li>
        <li><a href="#/invite">My Invites</a></li>
        <li><a href="#/regimen/find">Find Regimens</a></li>
        <li ng-if="model.user.admin"><a href="#/admin">Admin</a></li>
        <li><a href="" ng-click="model.logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<h1>BetterMe</h1>

<div class="row">

  <div class="col-sm-12 col-md-9">
    <div class="row fullCalendar">
      <div custom-full-calendar=""></div>
    </div>
  </div>
  <div class="hidden-xs hidden-sm col-md-3">
    <h1>Regimens</h1>
    <div class="regimen-bank">
      <h5 ng-if="!model.displayedBankedEvents.length">Great Job! There are no more events to be placed for this view.</h5>
      <div ng-if="model.displayedBankedEvents.length" ng-repeat="event in model.displayedBankedEvents">
        <div droppable-event="" class="fc-event banked-event" data-event={{event}}>{{event.title}}</div>
      </div>
    </div>
  </div>
</div>

<div id="fullCalModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="container-fluid modal-page">
        <label>Title</label>
        <input id ="modal-event-title"
               ng-model="model.editedEvent.title"
               class="form-control"
               type="text"
               placeholder="Name">
        <a ng-if="model.editedEvent._regimen" ng-click="model.redirectToRegimen(model.editedEvent._regimen)" data-dismiss="modal" class="btn btn-default btn-success btn-block" role="button">View Regimen Details</a>
        <a ng-click="model.updateEvent(model.editedEvent)" data-dismiss="modal" class="btn btn-default btn-primary btn-block" role="button">Update Event</a>
        <a ng-click="model.deleteEvent(model.editedEvent)" data-dismiss="modal" class="btn btn-default btn-danger btn-block" role="button">Delete Event</a>
      </div>
    </div>
  </div>
</div>