<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><i class="fa fa-calendar-check-o"></i> BetterMe</a>
    </div>

    <div ng-if="model.isLoggedIn" class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#/profile">My Profile <span class="sr-only">(current)</span></a></li>
        <li><a href="#/calendar">My Calendar</a></li>
        <li><a href="#/regimen">My Regimens</a></li>
        <li><a href="#/invite">My Invites</a></li>
        <li><a href="#/regimen/find">Find Regimens</a></li>
        <li><a href="#/regimen/" ng-click="model.logout()">Logout</a></li>
        <li><a href="" ng-click="model.logout()">Logout</a></li>
      </ul>
    </div>
    <div ng-if="!model.isLoggedIn" class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/#/register">Register</a></li>
        <li><a href="/#/login">Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="banner-jumbotron jumbotron">
  <h1 class="banner-title">BetterMe</h1>
  <h2 class="banner-sub">build a better you</h2>
</div>

<div class="landing-info-banner b1 row">
  <div class="col-sm-offset-1 col-sm-5 detail-block">
    <h2>Limitless Possibilities</h2>
    <h4>Our users have many passions.<br/> They focus these passions into Regimens, to be practiced on a monthly, weekly, or daily basis.</h4>
  </div>
  <div class="col-sm-5 detail-block">
    <img class="landing-gif" src="/imgs/search.gif">
  </div>
</div>

<div class="landing-info-banner b2 row">

  <div class="col-sm-5 detail-block visible-xs">
    <h2>Powerful Calendar</h2>
    <h4>Built with a powerful Google Calendar integration, BetterMe allows you to more quickly schedule your time through drag and drop.</h4>
  </div>
  <div class="col-sm-offset-1 col-sm-5 detail-block">
    <img class="landing-gif" src="/imgs/calendar.gif">
  </div>
  <div class="col-sm-5 detail-block hidden-xs">
    <h2>Powerful Calendar</h2>
    <h4>Built with a powerful Google Calendar integration, BetterMe allows you to more quickly schedule your time through drag and drop.
  </div>
</div>

<div class="landing-info-banner b3 row">
  <div class="col-sm-offset-1 col-sm-5 detail-block">
    <h2>BetterMe is BetterWe</h2>
    <h4>Take on new challenges with friends by inviting them to join your and other users' challenges.</h4>
  </div>
  <div class="col-sm-5 detail-block">
    <img class="landing-gif" src="/imgs/invite.gif">
  </div>
</div>