div.fullCalendar {
  margin-right: 0px;
  margin-left: 0px;
}

div.regimen-bank {
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 10px;
}

div.ta-editor {
  margin: 10px 0;
}


div.banked-event {
  margin: 5px;
  z-index: 100;
}

input.form-control {
  margin: 5px 0;
}

body {
  padding: 60px 0;
}

h3.nav-header {
  display: inline-block;
}

a.nav-icon {
  margin-top: 25px;
  float: right;
}

a.nav-back-icon {
  margin-top: 25px;
}

a.magbtn {
  margin-top: 5px;
}

ul {
  list-style-type: none;
}

img {
  width: 100%
}

a.list-icon {
  float: right;
}

a.footer-nav-right-icon {
  margin-top: 20px;
  float: right;
}

span.form-help {
  color: red;
}

div.ta-scroll-window.form-control {
  height: auto;
}

a.header-btn {
  float: right;
  margin-left:  10px;
}

h1.header-title {
  display: inline-block;
}

div.modal-page {
  margin-top: 15px;
  margin-bottom: 15px;
}

a.gcal-event {
  pointer-events: none;
  cursor: default;
}

.table-title {
  display: inline-block;
}

.table-header-button {
  margin-top: 20px;
}

input.table-radio {
  position: relative !important;
  margin: 0px !important;
}

div.radio {
  margin: 0px;
}

div.banner-jumbotron {
  background-color: #4ec5c1;
  padding-top: 15px;
  padding-bottom: 20px;
}

h1.banner-title {
  text-align: center;
  color: #ffffff;
}



h2.banner-sub {
  text-align: center;
  color: #e5e336;
}

div.landing-info-banner {

  margin: 0px;
  margin-top: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 4px;

}

div.b1 {
  background-color: #ec576b;
}

div.b2 {
  background-color: #e5e336;
}

div.b3 {
  background-color: #4ec5c1;
}


/*
aqua  color: #4ec5c1;
lime  color: #e5e336;
pink  color: #ec576b;
black color: #000000;
*/