<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/#/"><i class="fa fa-calendar-check-o"></i> BetterMe</a>
    </div>

    <div ng-if="model.isLoggedIn" class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#/profile">Profile <span class="sr-only">(current)</span></a></li>
        <li><a href="#/calendar">Calendar</a></li>
        <li><a href="#/regimen">Regimens</a></li>
        <li><a href="#/invite">Invites</a></li>
        <li><a href="#/regimen/find">Find Regimens</a></li>
        <li><a href="" ng-click="model.logout()">Logout</a></li>
      </ul>
    </div>
    <div ng-if="!model.isLoggedIn" class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/#/register">Register</a></li>
        <li><a href="/#/login">Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="col-lg-offset-3 col-md-offset-2 col-sm-offset-1 col-lg-6 col-md-8 col-sm-10">
    <h1>{{model.user.firstName}} {{model.user.lastName}} </h1>

    <div ng-bind-html="model.getTrustedHtml(model.user.profileBio)"></div>
    <h3 ng-if="!model.user.profileBio">This page is sparse because this user has yet to complete their bio.
      <br/><br/>If you know this user, tap them on the shoulder and tell them to get their act together
      <br/><br/>The first step to a BetterMe is getting a BetterBio.
      <br/><br/>I mean seriously, nothing?!</h3>

    <div class="row">
      <div ng-if="model.user.enlistedRegimens.length" class="col-sm-6">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>{{model.user.firstName}} enlisted in these regimens</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="regimen in model.user.enlistedRegimens" ng-click="model.redirectToRegimenDetails(regimen._id)">
            <td>{{regimen.title}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div ng-if="model.user.coachedRegimens.length">
        <div class="col-sm-6">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>{{model.user.firstName}} coaches these regimens</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="regimen in model.user.coachedRegimens" ng-click="model.redirectToRegimenDetails(regimen._id)">
              <td>{{regimen.title}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>