<div class="container-fluid">
  <h1>Manage Your Regimens</h1>
  <div class="row">
    <h3 class="table-title col-xs-7">Enlisted Regimens</h3>
    <a href="#/user/{{model.userId}}/regimen/find" class="table-header-button btn-primary btn col-xs-5">Find A Regimen</a>
  </div>
  <h4 ng-if="!model.user.enlistedRegimens.length"> You are not currently enrolled in any regimens</h4>
  <div class="col-sm-6">
    <table ng-if="model.user.enlistedRegimens.length" class="table table-hover">
      <thead>
      <tr>
        <th>Title</th>
        <th>Frequency</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="regimen in model.user.enlistedRegimens" ng-click="model.redirectToRegimenDetails(regimen)">
        <td>{{regimen.title}}</td>
        <td>{{regimen.frequencyNumber}} times {{model.getPrettyFrequency(regimen)}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div ng-if="model.user.coachedRegimens.length">
    <div class="row">
      <h3 class="table-title col-xs-7">Coached Regimens</h3>
      <a ng-if="model.user.coachedRegimens.length" href="#/regimen/new" class="table-header-button btn btn-success col-xs-5">Create A Regimen</a>
      <a ng-if="!model.user.coachedRegimens.length" href="#/regimen/new" class="table-header-button btn btn-success col-xs-5">Become A Coach!</a>
    </div>
    <div class="col-sm-6">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Title</th>
          <th>Frequency</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="regimen in model.user.coachedRegimens" ng-click="model.redirectToRegimenDetails(regimen)">
          <td>{{regimen.title}}</td>
          <td>{{regimen.frequencyNumber}} times {{model.getPrettyFrequency(regimen)}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
