
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <h3 class="nav-header">Enlist In A Regimen</h3>
  </div>
</nav>

<div class="container-fluid">

  <h3>Find a Regimen That Appeals To You</h3>
  <input ng-model="model.searchRegimen"
         class="form-control"
         placeholder="Search by Regimen's Title or Coach's Username"
         ng-change="model.updateDisplayedRegimens()">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Title</th>
      <th>Coach</th>
      <th>Frequency</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="regimen in model.displayedRegimens" ng-click="model.redirectToRegimenDetails(regimen)">
      <td>{{regimen.title}}</td>
      <td>{{regimen._coach.firstName}} {{regimen._coach.lastName}}</td>
      <td>{{model.getCommitment(regimen)}}</td>
    </tr>
    </tbody>
  </table>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <a class="glyphicon glyphicon-user footer-nav-right-icon" aria-hidden="true" href="#/user/{{model.user._id}}"></a>
  </div>
</nav>