<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/#/"><i class="fa fa-calendar-check-o"></i> BetterMe</a>
    </div>

    <div ng-if="model.isLoggedIn" class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#/profile">Profile <span class="sr-only">(current)</span></a></li>
        <li><a href="#/calendar">Calendar</a></li>
        <li><a href="#/regimen">Regimens</a></li>
        <li><a href="#/invite">Invites</a></li>
        <li  class="active"><a href="#/regimen/find">Find Regimens</a></li>
        <li ng-if="model.isUserAdmin"><a href="#/admin">Admin</a></li>
        <li><a href="" ng-click="model.logout()">Logout</a></li>
      </ul>
    </div>
    <div ng-if="!model.isLoggedIn" class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <li  class="active"><a href="#/regimen/find">Find Regimens</a></li>
        <li><a href="#/register">Register</a></li>
        <li><a href="#/login">Login</a></li>
      </ul>
    </div>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="col-sm-offset-2 col-sm-8">
    <h3>Find a Regimen That Appeals To You</h3>
    <input ng-model="model.searchRegimen"
           class="form-control"
           placeholder="Search by Regimen's Title or Coach's Username"
           ng-change="model.updateDisplayedRegimens()">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Title</th>
        <th>Coach</th>
        <th>Frequency</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="regimen in model.displayedRegimens" ng-click="model.redirectToRegimenDetails(regimen)">
        <td>{{regimen.title}}</td>
        <td>{{regimen._coach.firstName}} {{regimen._coach.lastName}}</td>
        <td>{{model.getCommitment(regimen)}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>