<div class="container-fluid">
  <h1 class="header-title">Manage Your Regimens</h1>
  <a href="#/user/{{model.userId}}/regimen/find" class="header-btn btn btn-primary">Find A Regimen</a>
  <a ng-if="!model.user.coachedRegimens.length" href="#/user/{{model.userId}}/regimen/new" class="header-btn btn btn-success">Become A Coach!</a>
  <a ng-if="model.user.coachedRegimens.length" href="#/user/{{model.userId}}/regimen/new" class="header-btn btn btn-success">Create Another Regimen</a>

  <h3>Enlisted Regimens</h3>
  <h4 ng-if="!model.user.enlistedRegimens.length"> You are not currently enrolled in any regimens</h4>
  <table ng-if="model.user.enlistedRegimens.length" class="table table-hover">
    <thead>
    <tr>
      <th>Title</th>
      <th>Frequency</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="regimen in model.user.enlistedRegimens" ng-click="model.redirectToRegimenDetails(regimen)">
      <td>{{regimen.title}}</td>
      <td>{{regimen.frequencyNumber}} times {{model.getPrettyFrequency(regimen)}}</td>
    </tr>
    </tbody>
  </table>
  <div ng-if="model.user.coachedRegimens.length">
    <h3>Coached Regimens</h3>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Title</th>
        <th>Frequency</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="regimen in model.user.coachedRegimens" ng-click="model.redirectToRegimenDetails(regimen)">
        <td>{{regimen.title}}</td>
        <td>{{regimen.frequencyNumber}} times {{model.getPrettyFrequency(regimen)}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
