
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><i class="fa fa-calendar-check-o"></i> BetterMe</a>
    </div>

    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#/profile">My Profile <span class="sr-only">(current)</span></a></li>
        <li><a href="#/calendar">My Calendar</a></li>
        <li class="active"><a href="#/regimen">My Regimens</a></li>
        <li><a href="#/invite">My Invites</a></li>
        <li><a href="#/regimen/find">Find Regimens</a></li>
        <li ng-if="model.user.admin"><a href="#/admin">Admin</a></li>
        <li><a href="" ng-click="model.logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <h1>{{model.regimen.title}}</h1>
  <div ng-if="model.isCoach">
    <div ng-show="model.error" class="alert alert-danger" role="alert">
      {{model.error}}
    </div>
    <form name="form1" novalidate>
      <label for="title">Title</label>
      <span class="form-help" ng-if="form1.$submitted && form1.title.$error.required">is required</span>
      <input ng-model="model.regimen.title"
           id="title"
           class="form-control"
           type="text"
           placeholder="Grab attention with an exciting title"
           required/>

      <label>Description</label>
      <div ng-model="model.regimen.description"
           text-angular
           ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
            ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
            ['indent','outdent'],['html', 'insertImage', 'insertVideo']]">

      </div>

      <label>Frequency</label>
      <br/>
      <label class="radio-inline">
        <input ng-model="model.regimen.frequencyScope" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="D"> Daily
      </label>
      <label class="radio-inline">
        <input ng-model="model.regimen.frequencyScope" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="W"> Weekly
      </label>
      <label class="radio-inline">
        <input ng-model="model.regimen.frequencyScope" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="M"> Monthly
      </label>

      <br/>
      <label for="frequencyNumber">Frequency Per Period</label>
      <span class="form-help" ng-if="form1.$submitted && form1.frequencyNumber.$error.required">is required</span>
      <span class="form-help" ng-if="form1.$submitted && form1.frequencyNumber.$number.required">is required</span>
      <input ng-model="model.regimen.frequencyNumber"
             id="frequencyNumber"
             class="form-control"
             type="number"
             placeholder="How many events per time period?"
             required/>

      <label for="start">Start Date</label>
      <span class="form-help" ng-if="form1.$submitted && form1.start.$error.required">is required</span>
      <input class="form-control"
             id="start"
             name="start"
             placeholder="MM/DD/YYYY"
             ng-model="model.regimen.start"
             data-provide="datepicker"
             type="text"
             required/>
      <label for="end">End Date</label>
      <span class="form-help" ng-if="form1.$submitted && form1.end.$error.required">is required</span>
      <input class="form-control"
             id="end"
             name="end"
             placeholder="MM/DD/YYYY"
             ng-model="model.regimen.end"
             data-provide="datepicker"
             type="text"
             required/>
      <button ng-click="model.updateRegimen(form1)" type="submit" class="btn btn-block btn-primary">Update Details</button>
    </form>
  </div>
  <div ng-if="!model.isCoach">
    <br/>
    <h4>This regimen occurs {{model.regimen.frequencyNumber}} times {{model.regimen.frequencyScope}}</h4>
    <a href="/#/user/{{model.regimen._coach}}"><h4>View this regimen's coach</h4></a>
    <br/>

    <h4>Start: {{model.regimen.start}}</h4>
    <h4>End: {{model.regimen.end}}</h4>

    <br/>
    <div ng-bind-html="model.getTrustedHtml(model.regimen.description)"></div>
  </div>
  <button ng-click="model.enlistUser()" ng-disabled="model.isUserEnlisted" type="submit" class="navbar-btn btn btn-primary">Enlist</button>
  <button ng-click="model.unEnlistUser()" ng-disabled="!model.isUserEnlisted" type="submit" class="navbar-btn btn btn-danger">Unenlist</button>
  <button ng-click="model.deleteRegimen()" ng-if="model.isCoach" type="submit" class="navbar-btn btn btn-danger">Delete Regimen</button>
</div>